.logo{
    height: 80px;
    width: 80px;
    background-color: blueviolet;
    border-radius: 50%;
    background-image: url(https://picsum.photos/id/8/450/300?grayscale&blur=2);
    background-size: cover;
}

.main-header{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}